*.kdev4
*.opensdf
*.pdb
*.sdf
*.suo
*.swp
x64/
/InfiniTAM/build/
/InfiniTAM/buildx/
/InfiniTAM/install/
/InfiniTAM/Files/Out/out.ppm
/InfiniTAM/Files/Out/*.ppm
/InfiniTAM/Files/Teddy/Frames
/InfiniTAM/Files/run_commands.txt
*.*~
*.cproject
*.project
*.settings
build/
InfiniTAM/doxygen-html/
